{% extends 'base/base.html' %}

{% block content %}
<title>Создать голосование</title>
<main class="btn-toolbar mx-auto justify-content-center">
		<div class="fs-5 mx-auto">
        <div class="border-secondary mx-auto"  style="margin-top: 20px; margin-bottom: 20px">
                  <!-- voting -->
            <div class="">
                <div class="d-flex mx-auto justify-content-between">
                  <h3 class="fs-2 text-dark">Vote Form</h3>
                </div>
                <form action="" method="POST">
                  {% csrf_token %}
                  <div><b>Title</b></div>
                  {{form.title}}
                  <div><b>Description</b></div>
                  {{form.text}}
                  <div><b>Variants</b></div>
                  <ul>
                    <li>I agree</li>
                    <li>I disagree</li>
                  </ul>
                  <br/>
                  {% if request.user.is_authenticated %}
                  <button type="submit" class="btn btn-success">Publish</button>
                  {% else %}
                  <button type="submit" class="btn btn-success" disabled>Publish</button>
                  {% endif %}
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
